.form-control {
    width: 50%;   
}
.header_area{
	background:#3E007F;
	color:#fff;
	margin-top:10px;
}
.header_area h2{
	margin:0;
	padding:0;
	padding:10px;
	
}
.header_area h4{
	margin-top:20px;
	margin-right:15px;
	text-align:right;
}
#cssmenu {
    width: 250px;
    padding: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    background: #3E007F none repeat scroll 0% 0%;
    border-radius: 0px;
}
#cssmenu ul ul a {
    color: #fff;
}
#cssmenu > ul > li > a {
    background: transparent linear-gradient(#732C7B 0%, #421C52 100%) repeat scroll 0% 0%;   
}

#cssmenu {
	height:500px;
}
.footer_inner{
	text-align:center;
	background-color:#3E007F;
}
.footer_inner p{
	padding:5px 0 5px 0;
	color:#fff;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
